## Build a classification model for Survival.csv dataset
Find dataset describtion here
https://physionet.org/content/challenge-2012/1.0.0/

In [1]:
# Create train.py which will return the table of model results
# Create a table to compere all classification models LR, LDA, QDA, DT, NB, SVM, Ansamble models 
# With this metrics, Accuracy, Sensitifity, Specificity, AUC, MCC(key for assesment)
# Save the model in pickle format.
# Create predict.py file which will load the model and predict on the test.csv file
# Your code should be able to run from the command line having test argument
# And should save the predictions.npy which are the probabilities of the class being true.
# Ex. python predict.py --test test.csv 

# Columns <survival, length_of_stay and died_in_hospital" will not appear in test data

In [1]:
import pyforest

In [2]:
df =pd.read_csv("Survival_dataset.csv")

In [4]:
df.head(10)

,recordid,SAPS-I,SOFA,Length_of_stay,Survival,In-hospital_death,Age,Gender,Height,Weight,...,SysABP_last,TroponinI_last,TroponinT_last,WBC_last,Weight_last,pH_last,MechVentStartTime,MechVentDuration,MechVentLast8Hour,UrineOutputSum
0,132539,6,1,5,-1,0,54.0,0.0,NaN,NaN,...,NaN,NaN,NaN,9.4,NaN,NaN,NaN,NaN,NaN,NaN
1,132540,16,8,8,-1,0,76.0,1.0,175.3,76.0,...,103.0,NaN,NaN,13.3,81.6,7.37,71.0,360.0,0.0,5.0
2,132541,21,11,19,-1,0,44.0,0.0,NaN,56.7,...,126.0,NaN,NaN,6.2,56.7,7.47,617.0,2160.0,1.0,14.0
3,132543,7,1,9,575,0,68.0,1.0,180.3,84.6,...,NaN,NaN,NaN,7.9,84.6,NaN,NaN,NaN,NaN,NaN
4,132545,17,2,4,918,0,88.0,0.0,NaN,NaN,...,NaN,NaN,NaN,4.8,NaN,NaN,NaN,NaN,NaN,NaN
5,132547,14,11,6,1637,0,64.0,1.0,180.3,114.0,...,91.0,1.3,NaN,13.3,NaN,7.46,293.0,2495.0,1.0,12.0
6,132548,14,4,9,-1,0,68.0,0.0,162.6,87.0,...,148.0,0.8,NaN,6.2,87.0,NaN,NaN,NaN,NaN,NaN
7,132551,19,8,6,5,1,78.0,0.0,162.6,48.4,...,126.0,3.1,NaN,23.5,48.4,7.37,1090.0,1710.0,1.0,12.0
8,132554,11,0,17,38,0,64.0,0.0,NaN,60.7,...,NaN,NaN,NaN,15.2,60.7,NaN,NaN,NaN,NaN,NaN
9,132555,14,6,8,-1,0,74.0,1.0,175.3,66.1,...,134.0,NaN,NaN,11.8,69.7,7.38,57.0,180.0,0.0,4.0